:root {
  --app-background-color: #ffffff;

  --primary-color: #131313;

  --grey-1: #ddd;
  --grey-2: #c1c1c1;

  --grey-dark-1: #383838;
  --grey-dark-2: #3b3b3b;

  --white-grey-1: #f5f5f5;

  --dark-1: #1c1c1c;

  --mango-primary-font: "PrimaryFont", "Arial", "Helvetica", "sans-serif";
}

body {
  font-family: var(--mango-primary-font);
  margin: 0;
  padding: 0;
  background-color: var(--app-background-color);
  padding: 1rem;
  color: var(--primary-color);
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.button-primary {
  font-family: var(--mango-primary-font);
}

.list {
  padding: 0px;
  display: flex;
  gap: 2rem;
}

.list li {
  list-style: none;
  color: var(--primary-color);
  text-decoration: none !important;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
  gap: 5px;
}
